<style>
    .insta-id {
        font-weight: bold;
        font-size: 16px;
        background: linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
</style>
<footer>
      <div class=container>
        <div class="sec aboutus">
          <h2 class=footer-title>동아리 소개</h2>
          <p>카테나&#40;K.Athena&#41;는 경기대학교 유일 E-Sports 중앙동아리로 다양한 게임을 즐기고, 경기를 통해 실력을 키우는 동아리입니다.</p>
          <ul class=sci>
            <li><a href=https://www.instagram.com/kgu_kathena/ ><i class="fab fa-instagram"></i></a></li>
            </li>
          </ul>
             <p class="insta-id">@kgu_kathena</p>
        </div>
        <div class="sec quicklinks">
          <h2 class=footer-title>입부하기</h2>
          <p><a href="https://forms.gle/W3n5UW1uuEnescTD7" target="_blank">입부 신청하기</a></p>
        </div>
        <div class="sec contact">
          <h2 class=footer-title>문의</h2>
          <ul class=info>
            <li>
              <span class=icon><i class="far fa-envelope"></i></span>
              <p><a href=mailto:jvmmf310@gmail.com>jvmmf310<br>@gmail.com</a></p>
            </li>
          </ul>
        </div>
      </div>
    </footer>
    <div class="banner-section">
      <div class="banner-container">
        <img src="./assets/images/banner.png" alt="동아리 배너" class="club-banner">
      </div>
    </div>
    <div class=copyrightText>
      <p class=copyright>Copyright © 2026 K.Athena. All Rights Reserved.</p>
    </div>
